@import 'tailwindcss';

:root {
  --background: hsl(13 100% 91%);
  --primary: hsl(1 100% 79%);
  --secondary: hsl(18 100% 97%);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (min-width: 768px) {
  body {
    background-image: url('/bg-desktop.png');
  }
}

@media (prefers-reduced-motion: reduce) {
  a {
    transition: none;
  }
}

@layer base {
  body {
    @apply bg-background text-primary;
  }
}
