@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 18 100% 97%;
    --foreground: 0 0% 3.9%;
  }
  .dark {
    --background: 18 100% 97%;
    --foreground: 0 0% 98%;
  }
}
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
